<div id="page_wrapper">

<h1><%= @contact.first_name %>&nbsp;<%= @contact.last_name %></h1>

<p class="date">
	Added On <%= @contact.created_at.strftime("%b %d '%y") %>
	| <%= link_to 'Edit', edit_contact_path(@contact) %>
	| <%= link_to 'Delete', contact_path(@contact), method: :delete, data: {confirm: 'Are You Sure?'} %>
</p>	

<% if @contact.email? %>
	<h2>Personal Email: <%= @contact.email %></h2>
	
<% end %>

<% if @contact.significant_other? %>
	<h2>SO: </h2>
	<%= @contact.significant_other %>
<% end %>

<% if @contact.children? %>	
	<h2>Children: </h2>
	<%= @contact.children %>
<% end %>	

<% if @contact.bday? %>	
	<h2>Birthdate: </h2>
	<%= @contact.bday %>
<% end %>	

</div>
