<div id="page_wrapper">

<h1><%= @contact.first_name %>&nbsp;<%= @contact.last_name %></h1>

<h2>SO: </h2>
<%= @contact.significant_other %>
<h2>Children: </h2>
<%= @contact.children %>
<h2>Birthdate: </h2>
<%= @contact.bday %>

</div>
